---
layout: page
title: Movie Vault
css:
  - "/assets/css/movies.css"
---

<header class="movies-list__header-container">
  <h1 class="movies-list__header">Movies</h1>
  <nav class="movies-list__header-links">
    <a class="movies-list__header-link" href="{% link about.md %}">About</a>
    <a
      class="movies-list__header-link"
      href="{% link movies.html %}"
      aria-current="true"
      >Movies</a
    >
  </nav>
</header>

<article id="full-tags-list" class="movies-list__container">
  {% assign movies_by_year = site.data.movies | group_by_exp: "movie",
  "movie.date | date: '%Y'" %} {% for year in movies_by_year %}
  <div class="movies-list__year-container">
    <header class="movies-list__year-header">
      <h2>{{ year.name }}</h2>
      {{ year.size }} movies
    </header>
    <div class="movies-list__year-movies">
      {%- for movie in year.items -%}
      <div class="movies-list__movie">
        <div class="movies-list__movie-cover">
          {% picture cover "{{ movie.thumbnail }}" --img width="180"
          height="270" %}
        </div>
        <div class="movies-list__movie-info">
          <h3 class="movies-list__movie-title">
            {{ movie.title }} ({{movie.year}})
          </h3>
          <p class="movies-list__movie-subtitle">{{ movie.subtitle }}</p>
          <p>{{ movie.director }}</p>

          {% if movie.rating %} {% assign rating = movie.rating | parse_rating
          %} {% if movie.review %}
          <details>
            <summary>{{ rating }}</summary>
            <div class="movies-list__movie-notes">
              <p>{{ movie.review }}</p>
            </div>
          </details>
          {% else %}
          <p>{{ rating }}</p>
          {% endif %} {% endif %}
        </div>
      </div>
      {%- endfor -%}
    </div>
    {%- endfor -%}
  </div>
</article>
