<details class="ratings">
  <summary>Explanation of how I choose my ratings</summary>
  <ul class="">
    <li>
      <b>5★:</b> Instant classic. Would go out of my way to recommend it to
      others.
    </li>
    <li><b>4★:</b> Instant classic but only for some.</li>
    <li><b>3★:</b> Enjoyed it once, maybe a second?</li>
    <li><b>2★:</b> Felt neutral the first time, would not want a second</li>
    <li>
      <b>1★:</b> If this was the only form of entertainment I had on a airplane
      I would prefer to stare at the ceiling.
    </li>
    <li><b>Gave Up:</b> Bad enough that I didn't finish it.</li>
  </ul>
</details>
