/* skin switch button */
#change-skin {
  top: 0.85rem;
  position: absolute;
  background-color: var(--page-col);
  display: flex;
  column-gap: 8px;
  transition: all 0.5s ease-in-out;
  border: solid 1px var(--text-col);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#change-skin:hover {
  background-color: var(--text-col);
}

#change-skin:hover .ball {
  transform: translateX(30px);
}

[data-theme="dark"] #change-skin:hover .ball {
  transform: translateX(0px);
}

.checkbox {
  transition: background 0.2s linear;
}

.checkbox__label {
  background-color: #111;
  height: 26px;
  width: 55.5px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox__label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  left: 1px;
  position: absolute;
  border-radius: 50%;
  border: solid 1px rgb(117, 117, 117);
  transition: transform 0.2s linear;
}

[data-theme="dark"] #change-skin .ball {
  transform: translateX(30px);
}

@media (min-width: 1200px) {
  .navbar .navbar-collapse {
    margin-right: 4.8rem;
  }
  #change-skin {
    right: 1rem;
  }
}
@media (max-width: 1199px) {
  #change-skin {
    right: 5rem;
  }
}
#change-skin .skin-btn {
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
  margin: 0 0.8rem 0 0;
}
