/* TODO: make this sheet load earlier */
:root {
  --navbar-col: #eaeaea; /* done */
  --navbar-text-col: var(--text-col); /* done */
  --navbar-border-col: #dddddd; /* done */

  --page-col: #ffffff; /* done */
  --text-col: #404040; /* done */
  --link-col: #008aff; /* done */
  --hover-col: #0085a1; /* done */

  --footer-col: var(--navbar-col); /* done */
  --footer-text-col: #4d4d4d; /* done */
  --footer-link-col: var(--text-col); /* done */
  --footer-hover-col: var(--hover-col); /* done */

  --blockqoute-col: #808080;
  --post-preview-border-col: #eee;
  --post-meta-col: #595959;
}

[data-theme="dark"] {
  --navbar-col: #242526;
  --navbar-text-col: var(--text-col);
  --navbar-border-col: #393a3b;

  --page-col: #18191a;
  --text-col: #e4e6eb;
  --link-col: #139ee0;
  --hover-col: #28a9e6;

  --footer-col: var(--navbar-col);
  --footer-text-col: #aaaaaa;
  --footer-link-col: #dfdfdf;
  --footer-hover-col: var(--hover-col);

  --blockqoute-col: #999;
  --post-preview-border-col: #444;
  --post-meta-col: var(--blockqoute-col);
}
