---
layout: base
common-ext-css:
  - "/assets/css/landing-page.css"
common-ext-js:
  - "/assets/js/load-popovers.js"
---

<div class="landing-page__header-container">
  <div class="landing-page__header container-md">
    <section
      class="landing-page__about col-xl-8 offset-xl-2 col-lg-10 offset-lg-1"
    >
      <h1 class="landing-page__title">Hi, my name is Yuri.</h1>
      <h2 class="landing-page__subtitle">
        I am a Full-Stack developer based in Silver Spring, MD. Currently I am
        seeking employment.
      </h2>
    </section>
  </div>
</div>
<div class="page-main container-md" role="main">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
      <section class="landing-page__section">
        <h2 class="landing-page__section-heading">
          Projects
        </h2>
        <div class="landing-page__projects">
          {% for project in site.data.projects %}
          <div class="landing-page__project">
            <div class="landing-page__project-thumbnail">
              {% assign preview_thumbnail = project.thumbnail | relative_url %}
              {% picture {{ preview_thumbnail }} --alt "Screen shot of the
              private events landing page" %}
            </div>
            <h3 class="landing-page__project-title">{{ project.title }}</h3>
            {% assign repo = project.repo | prepend: "https://github.com/" %}
            <a class="landing-page__project-meta" href="{{ repo }}">
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fab fa-github fa-stack-1x"></i>
              </span>
              <span> {{ project.repo }} </span>
            </a>

            
            <span class="landing-page__project-desc">{{ project.desc }}</span>
            <div class="landing-page__project-skills">
              {% for skill in project.skills %}
              <button
                type="button"
                class="landing-page__project-skill"
                data-toggle="popover"
                data-content="{{ skill.desc }}"
                data-placement="bottom"
                data-trigger="focus"
                data-container=".landing-page__project-skills"
                aria-label="{{ skill.desc }}"
              >
                {% assign skill_svg = skill.name | prepend: 'assets/svg/' | append: '.svg'%}
                {% svg "{{ skill_svg }}" width=40 height=40
                %}
                <span class="skill_desc hideme" aria-hidden="true"
                  >{{ skill.desc }}</span
                >
              </button>
              {% endfor %}
            </div>
            <div class="landing-page__project-links">
            {% if project.site_link != nil %}
            <a
              class="link-button landing-page__project-button"
              href="{{ project.site_link }}"
            >
              Visit the website
            </a>
            {% endif %}
            <a
              class="link-button landing-page__project-button"
              href="{{ repo }}"
            >
              Read the Source Code
            </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
      <section class="landing-page__section">
        <h2 class="landing-page__section-heading">
          Articles
        </h2>
        <div class="landing-page__blog-preview" tabindex="-1">{% include posts.html %}</div>
      </section>
    </div>
  </div>
</div>
